.border-box {
  width: 200px;
  height: 80px;
  margin: 25px 0;
}

.content {
  display: flex;
  align-items: center;
  padding: 0 8px;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.border-box {
  border: 4px solid transparent;
  border-radius: 16px;
  position: relative;
  background-color: #fff;
  background-clip: padding-box;
}

.border-bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  margin: -4px;
  border-radius: inherit;
  background: linear-gradient(to right bottom, #d4528d, #e9416b, #d32ac2, #982ad3, #832dd3, #9657ef);
}